{% extends "base.html" %}
{% block title %}Home - Likharyo{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;600&family=DM+Sans:wght@300;400;500&family=Great+Vibes&display=swap" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="hero">
    <h1>Discover Goods Made with Intention.</h1>
    <p>At Likharyo, discerning collectors meet talented artisans in search of inspired, high-quality, and truly unique handcrafted goods and original art.</p>
    <a href="#target_id" class="btn-explore">Trends ▼</a>
</div>

<div class="featured-artisans">
    <h2>Featured Artisans</h2>
    <div class="artisan-grid">
        <div class="artisan-card">
            <img src="{{ url_for('static', filename='artisans/zia.jpg') }}" alt="Zia Gonzales">
            <p>Zia Gonzales</p>
        </div>
        <div class="artisan-card">
            <img src="{{ url_for('static', filename='artisans/althea.jpg') }}" alt="Althea">
            <p>Althea Ramos</p>
        </div>
        <div class="artisan-card">
            <img src="{{ url_for('static', filename='artisans/kai.jpg') }}" alt="Kai">
            <p>Kai Tan</p>
        </div>
        <div class="artisan-card">
            <img src="{{ url_for('static', filename='artisans/maelys.jpg') }}" alt="Maelys">
            <p>Maelys Santos</p>
        </div>
        <div class="artisan-card">
            <img src="{{ url_for('static', filename='artisans/ethan.jpg') }}" alt="Ethan">
            <p>Ethan Lopez</p>
        </div>
    </div>
</div>

<div id="target_id" class="trending-products">
    <h2>Trending Products</h2>

    <div class="product-grid">

        <div class="product-card">
            <img src="{{ url_for('static', filename='products/1.1.jpg') }}" alt="cco mama">
            <p class="product-name">Lola's Legacy Coffee Mug</p>
        </div>

        <div class="product-card">
            <img src="{{ url_for('static', filename='products/6.2.jpg') }}" alt="ola mommy">
            <p class="product-name">Palawan Sand Micro Landscape Ring </p>
        </div>
   
        <div class="product-card">
            <img src="{{ url_for('static', filename='products/1.4.jpg') }}" alt="ola mommy">
            <p class="product-name">The Zia Signature Dinner Plate</p>
        </div>


        <div class="product-card">
            <img src="{{ url_for('static', filename='products/2.5.jpg') }}" alt="ola mommy">
            <p class="product-name">Moms' Collaborative Shawl</p>
        </div>

        <div class="product-card">
            <img src="{{ url_for('static', filename='products/3.3.jpg') }}" alt="ola mommy">
            <p class="product-name">Enduring Elegance Cutting Board </p>
        </div>

        <div class="product-card">
            <img src="{{ url_for('static', filename='products/2.2.jpg') }}" alt="cco mama">
            <p class="product-name">'Hinga' Meditation Mat</p>
        </div>
        
        <div class="product-card">
            <img src="{{ url_for('static', filename='products/5.1.jpg') }}" alt="ola mommy">
            <p class="product-name">Marikina Heirloom Bifold Wallet</p>
        </div>
        
        <div class="product-card">
            <img src="{{ url_for('static', filename='products/8.5.jpg') }}" alt="ola mommy">
            <p class="product-name">Cosmic Connection Locket</p>
        </div>


        <div class="product-card">
            <img src="{{ url_for('static', filename='products/9.1.jpg') }}" alt="ola mommy">
            <p class="product-name">Sampaguita Dawn Soy Candle</p>
        </div>

        <div class="product-card">
            <img src="{{ url_for('static', filename='products/10.1.jpg') }}" alt="ola mommy">
            <p class="product-name">Wabi-Sabi Daily Coffee Mug</p>
        </div>

        <div class="product-card">
            <img src="{{ url_for('static', filename='products/11.3.jpg') }}" alt="cco mama">
            <p class="product-name">The Second Life Upcycled Scarf</p>
        </div>
        
        <div class="product-card">
            <img src="{{ url_for('static', filename='products/12.3.jpg') }}" alt="ola mommy">
            <p class="product-name">Heirloom-Quality Filigree Brooch</p>
        </div>
        
        <div class="product-card">
            <img src="{{ url_for('static', filename='products/20.3.jpg') }}" alt="ola mommy">
            <p class="product-name">Peace of Mind Calming Bath Soak</p>
        </div>


        <div class="product-card">
            <img src="{{ url_for('static', filename='products/16.1.jpg') }}" alt="ola mommy">
            <p class="product-name">Rhythmic Form Wall Hanging</p>
        </div>

        <div class="product-card">
            <img src="{{ url_for('static', filename='products/4.5.jpg') }}" alt="ola mommy">
            <p class="product-name">Monochrome Insect Study</p>
        </div>

    </div>
</div>

{% endblock %}

